nav {
    background: $nav-bg-color;
    padding: 10px;
    & ul {
        margin: 0px;
        list-style: none;
        & li {
        &.nav__item--active {
            color: $activeLinkColor;
        }
        display: inline;
        padding: 10px 20px;
        }
    }

}

#desktop-header {
    display: block;
}

#mobile-nav {
    display: none;
    & .row {
        display: flex;
        padding: 0;
        width: 100%;
    }
    & .column {
        padding: 0;
    }
    & .mobile-dropdown-wrapper{
        background-color: $white;
        color: $black;
        padding: 8px 8px 8px 15px;
        margin: 15px 0 0 30px;
        border-radius: 5px;
        width: 34%
    }
    & img {
       border-radius: 0;
       max-height: 50px;
    }

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: $sidenav-background-color; 
    color: $white; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: $white; 
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


@media only screen and (max-width: $iphone6-max-width) {

    #desktop-header {
        display: none;
    }
    #mobile-nav {
        display: flex;
    }
    #mobile-nav .column--80 {
        width: 100% !important;
    }
    #mobile-nav .column--20 {
        width: 20% !important;
    }
    #mobile-nav .text-left {
        text-align: left !important;
    }
    #mobile-nav .text-right {
        text-align: right !important;
    }
  }