// Breakpoints

//  ----------- Laptop ----------- //
$laptop-min-width: 1200px;
$laptop-max-width: 1600px;


/* ----------- Phones ----------- */
/* ----------- iPhone 4 and 4S ----------- */
$iphone4-min-width: 320px;
$iphone4-max-width: 480px;


/* ----------- iPhone 5 and 5S ----------- */
$iphone5-min-width: 320px;
$iphone5-max-width: 568px;

/* ----------- iPhone 6 ----------- */
$iphone6-min-width: 375px;
$iphone6-max-width: 667px;



/* ----------- iPhone 6+ ----------- */
$iphone6-min-width: 414px;
$iphone6-max-width: 736px;


/* ----------- Galaxy S3 ----------- */
$galaxy3-min-width: 320px;
$galaxy3-max-width: 640px;


/* ----------- Galaxy S4----------- */
$galaxy4-min-width: 320px;
$galaxy4-max-width: 640px;


/* ----------- Galaxy S5----------- */
$galaxy5-min-width: 360px;
$galaxy5-max-width: 640px;


/* ----------- Tablets ----------- */
/* ----------- iPad mini, 1 and 2 ----------- */

$ipad-old-min-width: 768px;
$ipad-old-max-width: 1024px;

/* ----------- iPad 3 and 4 ----------- */

$ipad-min-width: 768px;
$ipad-max-width: 1024px;

