.card {
    height: 205px;
   @include boxshadow--grey;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}

.card__heading {
    margin: 0;
    padding: 5px 0;
}

.card__content {
margin: 0;
font-size: 18px;
padding: 0;
color: $black;
}