nav {
    background: $nav-bg-color;
    padding: 10px;
    & ul {
        margin: 0px;
        list-style: none;
        & li {
        &.nav__item--active {
            color: $activeLinkColor;
        }
        display: inline;
        padding: 10px 20px;
        }
    }

}

#desktop-header {
    display: block;
}

#mobile-nav {
    display: none;
    & .row {
        display: flex;
        padding: 0;
        width: 100%;
    }
    & .column {
        padding: 0;
    }
    & img {
       border-radius: 0;
       max-height: 50px;
    }

}


@media only screen and (max-width: 600px) {

    #desktop-header {
        display: none;
    }
    #mobile-nav {
        display: flex;
    }
    #mobile-nav .column--50 {
        width: 50% !important;
    }
    #mobile-nav .text-left {
        text-align: left !important;
    }
    #mobile-nav .text-right {
        text-align: right !important;
    }
  }