h1 {color: $baseHeadingColor;
	font-size: $baseH1FontSize;
}
h2 {
	color: $baseHeadingColor;
	font-size: $baseH2FontSize;
}
h3 {
	color: $baseHeadingColor;
	font-size: $baseH3FontSize;
}
h4 {
	color: $baseHeadingColor;
	font-size: $baseH4FontSize;
}
h5 {
	color: $baseHeadingColor;
	font-size: $baseH5FontSize;
}
h6 {
	color: $baseHeadingColor;
	font-size: $baseH6FontSize;
}
