.row {
    padding: 20px;
    display: flex;
    padding: 1rem 2rem;
   /*padding: 10px;*/

   &:after {
    content: "";
    display: table;
    clear: both;
   }
}

@media only screen and (max-width: 600px) {
    .row {
        padding: 20px;
        display: inline-block;
        margin: 0 1rem;
    }
}