.column {
  display: inline-block;
  }
  
  .column--20 {
    width: 20%;
  }
  
  .column--25 {
    width: 25%;
  }
  
  .column--30 {
    width: 30%;
  }
  
  .column--33 {
    width: 33%;
  }
  .column--50 {
    width: 50%;
  }
  .column--75 {
    width: 75%;
  }
  
  .column--80 {
    width: 80%;
  }
  
  .column--100 {
    width: 100%;
  }
  