// Links
$baseTextLinkColor: $black !default;
$baseBackgroundLinkColor: $white !default;
$baseLinkPadding: 15px 20px 0 0 !default;

a {
    padding: $baseLinkPadding;
    color: $baseTextLinkColor;
    text-decoration: none;
}