// Helper Mixin
@mixin large-margin-spacer() {
	margin: 40px 0;
}

@mixin small-margin-spacer() {
	margin: 20px 0;
}

@mixin large-padding-spacer() {
	padding: 40px 0;
}

@mixin small-padding-spacer() {
	padding: 20px 0;
}

@mixin hide () {
	display: none;
}