.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.boxshadow--grey{
	@include boxshadow--grey;
}

.borderradius--small{
	border-radius: 5px;
}
